/*fixed size*/
.container{
	width: 1000px !important;
}
.container-fluid{
	min-width: 1000px !important;
}
/*fixed size ends*/

/*common*/
body{
	font-family: 'PT Sans', sans-serif;
	color:#000;
	margin-bottom: 220px;
	font-size:14px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top:100px;
	height: 220px;
	background: transparent url(../site_img/footer.jpg) no-repeat bottom center;
}
a{
	color:#ff6600;
}
a:focus{
	color:inherit;
}
a:hover{
	color:inherit;
}
.color-normal{
	color:#000;
}
.color-black{
	color:#000;
}
.color-gray{
	color:#414141;
}
.color-white{
	color:#ffffff;
}
.color-orange{
	color:#ff6600;
}
